%table.details
  %tr
    %th Name
    %th= @name
  %tr
    %th Value
    %td
      %pre= @current.value
  %tr
    %th Owner
    %td
      = address_link(@current.get_address)
  %tr
    %th Expires In
    %td #{@current.expires_in} blocks
  %tr
    %th Operations
    %td= @names.count
  %tr
    %th Formats
    %td
      = link_to "[json]", "/name/#{@name}.json"
      = link_to "[json history]", "/name/#{@name}.json?history"

%h3 History

%table.list
  %tr
    %th Block
    %th Tx
    %th Type
    %th Hash / Value
    %th Address

  - @names.reverse.each do |name|
    %tr{:class => cycle('odd', 'even')}
      %td= link_to(name.block.height, block_path(name.block.hash))  if name.block
      %td= link_to(truncate(name.tx.hash, :length => 16), tx_path(name.tx.hash))
      %td= name.txout.type
      %td
        %pre= name.txout.type == :name_new ? name.hash : name.value
      %td= address_link(name.address)
