- @page_title = "API"

%p
  The API allows you to get blocks and transactions by hash,
  query the history of an address, and relay your own transactions to the network.

%p
  Blocks and Transactions are available in raw binary format (.bin) or the inofficial json format established by #{link_to "blockexplorer.com", "http://blockexplorer.com"} (.json).

%p All JSON responses are pretty-printed by default. You can add a parameter "raw" to get the unformatted JSON.

%h3= link_to "Block", block_api_path

Get a block by hash in either .json or .bin format.

%h3= link_to "Transaction", tx_api_path

Get a transaction by hash in either .json or .bin format.

%h3= link_to "Address", address_api_path

Get transactions relevant to an address.

- if Bitcoin.network[:project] == :namecoin

  %h3= link_to "Name", name_api_path

  Get a namecoin record by its name.

%h3= link_to "Relay", relay_api_path

Relay a transaction to the network.

%h3= link_to "Stats", stats_api_path

Get some blockchain statistics.

%h3= link_to "Dumps", schema_api_path

Download database dumps of the full blockchain an run arbitrary custom queries against it locally.

