- @page_title = "Name API"

%h2 Name

%p Get namecoin records or history by their name.

%pre= "GET /name/<name>.json"

%p Get the history of all records that have been registered to a name.

%pre= "GET /name/<name>.json?history"

%h3 Parameters

The following parameters are accepted to influence the detail of returned data:

%table.details
  %tr
    %th history
    %td Return a list of name operations for the given name
  %tr
    %th with_block
    %td Add the block hash to the name data
  %tr
    %th with_height
    %td Add the block height to the name data
  %tr
    %th with_tx_idx
    %td Add the transaction index in the block
  %tr
    %th with_rawtx
    %td Add the raw transaction the name operation appears in (in hex)
  %tr
    %th with_mrkl_branch
    %td Add the merkle branch linking the transaction to the block
  %tr
    %th with_all
    %td Add all of the extra data fields

%h3 Response

%p
  Returns the name record (or a list of them, when the "history" parameter is specified),
  along with information about its position in the blockchain.

%table.details
  %tr
    %th Field
    %th Description
    %th Example
  %tr
    %th name
    %td The given name
    %td "d/mysite"
  %tr
    %th value
    %td The value stored under that name
    %td "{\"ip\":\"0.0.0.0\",\"map\":{\"*\":{\"ip\":\"0.0.0.0\"}}}"
  %tr
    %th expires_in
    %td Number of blocks before this name expires
    %td 30466
  %tr
    %th address
    %td The address this name operation was sent to
    %td "mw3MrjSTETgLWP3x2Wro7bTx2QvdsL7idP"
  %tr
    %th txid
    %td ID of the transaction that registered this name
    %td "0dc5b261eae6dd0c16c73025b59ac4f024464676dd4f020d0808bf7c086d2472"
  %tr
    %th block
    %td Hash of the block this name was registered in
    %td "aa5f96aaac5b7447f5229a401689b98bea130f35646f65e266584d3213477761"
  %tr
    %th height
    %td Height of the block this name was registered in
    %td 23406
  %tr
    %th tx_idx
    %td The index of the transaction within the block
    %td 1
  %tr
    %th rawtx
    %td The raw transaction in which this name operation appears (in hex)
    %td "0071000002c732d0a60876de87d40d284f8a8bdbe92f6..."
  %tr
    %th mrkl_branch
    %td The merkle branch linking the transaction hash to the block hash
    %td [ "dd8fdca4fbeb8d40dea5f0dfcbd88849c2ed7709da832adb2db595c71c0d0b2b" ]

%h3 Error

%p When the name wasn't found, the response will include an "error" message.


%h3 Example

%p Looking up a namecoin record:

.example
  %pre= "curl http://#{BB_CONFIG['domain']}/name/d/mysite.json?with_all"
  %pre= render partial: "name_d_mysite.json"

%p Retrieving the history of a name record:

.example
  %pre= "curl http://#{BB_CONFIG['domain']}/name/d/mysite.json?history"
  %pre= render partial: "name_history_d_mysite.json"
