:css
  tr { padding: 0px; margin: 0px }
  img { height: 21px; width: 21px; padding: 0px; margin: 0px -8px -3px 0px; }

%td{style: "padding: 0px; margin: 0px;"}
  - if blk[:chain] == 0
    - if next_siblings.any? && next_siblings.first[:prev_hash] == blk[:hash]
      = image_tag "dot_fork.png"
    - else
      = image_tag "dot.png"
  - else
    = image_tag "line.png"

  - if blk[:chain] == 0
    - if next_siblings.any?
      - if siblings.any?
        = image_tag "line.png"
      - else
        = image_tag "fork.png"
  - else
    = image_tag "dot.png"
%td
  %a{:href => block_path(blk[:hash].hth)}= blk[:depth]
%td
  %a{:href => block_path(blk[:hash].hth)}= blk[:hash].hth
%td= format_time blk[:time]
%td= STORE.db[:blk_tx].where(blk_id: blk[:id]).count
%td= number_to_human_size blk[:blk_size]
%td= format_amount STORE.db[:blk_tx].where(blk_id: blk[:id]).join(:tx, id: :tx_id).join(:txout, tx_id: :id).map{|o|o[:value]}.inject(:+)
