%tr{:class => cycle('odd', 'even')}
  %td= link_to(truncate(tx.hash, :length => 16), tx_path(tx.hash))
  %td
    %table.tx_ins{cellpadding: 0, cellspacing: 0}
      - if tx.in.size == 1 && tx.in[0].coinbase?
        %tr
          %td coinbase
      - else
        - tx.in.map do |i|
          - prev_tx = STORE.db[:tx][hash: i.prev_out.reverse.to_sequel_blob]
          - prev_out = STORE.db[:txout][tx_id: prev_tx[:id], tx_idx: i.prev_out_index]
          - if prev_out
            %tr
              - addr = Bitcoin::Script.new(prev_out[:pk_script]).get_address
              %td= link_to(addr, address_path(addr))
              %td (#{format_amount prev_out[:value]})
          - else
            %tr
              %td not seen

  %td
    %table.tx_outs{cellpadding: 0, cellspacing: 0}
      - tx.out.map do |o|
        %tr
          %td
            - o.get_addresses.map do |addr|
              = link_to(addr, address_path(addr))
              %br/
          %td (#{format_amount o.value})
  %td= number_to_human_size tx.to_payload.bytesize
  %td.value= format_amount(tx.out.map(&:value).sum)