%h3 About

%p
  This is a #{link_to "bitcoin", "http://bitcoin.org"} blockchain browser written in ruby
  using the #{link_to "bitcoin-ruby", "http://github.com/lian/bitcoin-ruby"} library.

%p
  It allows you to view the technical details that make up the blockchain, and also
  query them via an API.

%h3 License

%p
  The code is open source and available at
  = link_to "block_browser", "http://github.com/mhanne/block_browser"
  under the terms of the GNU AGPL license.

%p
  This instance is currently running git commit #{`git rev-parse HEAD`.strip}.
  %br/
  The current code is also available for direct download here: #{link_to "/source", source_path}.

%h3 Support

%p
  Donations motivate me to invest even more time that I don't have into this project ;)
  = link_to BB_CONFIG['donate'], address_path(BB_CONFIG['donate'])

%p
  Also don't hesitate to send me any comments, bug reports, feature requests or other feedback you might have to the info@ address on this domain (webbtc.com).