%h3 About

%p
  This is a #{link_to "bitcoin", "http://bitcoin.org"} blockchain browser written in ruby
  using the #{link_to "bitcoin-ruby", "http://github.com/lian/bitcoin-ruby"} library.
%p
  The code is open source and available at
  = link_to "block_browser", "http://github.com/mhanne/block_browser"
  under the terms of the GNU AGPL license.

%p
  This instance is currently running git commit #{`git rev-parse HEAD`.strip}.
  %br/
  The current code is also available for direct download here: #{link_to "/source", source_path}.

%p
  You can donate to #{link_to BB_CONFIG['donate'], address_path(BB_CONFIG['donate'])} to support the owner of this node.

%br/

%h3 Statistics

- stats = JSON.load(File.read(File.join(Rails.root, "public/stats.json")))

%table.details
  %tr
    %th Blocks
    - b = stats['blocks']
    %td #{b['main']} (#{b['side']} side, #{b['orphan']} orphan, #{b['total']} total)

  %tr
    %th Transactions
    %td #{stats['txs']} (#{stats['txins']} inputs, #{stats['txouts']} outputs)

  %tr
    %th Addresses
    %td
      #{stats['addrs']}
      - if Bitcoin.namecoin?
        (#{stats['names']} Names)

  %tr
    %th Blockchain Size
    %td= number_to_human_size b['size']

  %tr
    %th Total Coins
    %td= format_amount stats['coins']

  %tr
    %th Last Update
    %td= format_time stats['time']

%br/

%h3 Block Reward

%table.details

  %tr
    %th Current Reward
    %td= format_amount calculate_reward(STORE.get_depth)

  %tr
    %th Next Halving
    %td
      - drop = Bitcoin::Validation::REWARD_DROP
      in #{blocks = drop - (STORE.get_depth % drop)} blocks -
      - seconds = blocks * 10 * 60
      = (Time.now + seconds).strftime("%Y-%m-%d %H:%M")
      - if seconds < 2592000
        %br/
        (#{(Time.at(seconds) - 1.day).utc.strftime("%d days, %H hours, %M minutes")})
