%table.details
  %tr
    %th Address
    %th= @address
  %tr
    %th Hash160
    %th= @hash160
  %tr
    %th Transactions
    %td
      #{@addr_data[:tx_in_sz] + @addr_data[:tx_out_sz]}
      (#{@addr_data[:tx_in_sz]} in, #{@addr_data[:tx_out_sz]} out)
  %tr
    %th Total BTC In
    %td= format_amount(@addr_data[:btc_in])
  %tr
    %th Total BTC Out
    %td= format_amount(@addr_data[:btc_out])
  %tr
    %th Current Balance
    %th= format_amount(@addr_data[:btc_in] - @addr_data[:btc_out])
  %tr
    %th Formats
    %td= link_to "[json]", "/address/#{@address}.json"

%h3 Transactions

= raw @tx_list