%table.details
  %tr
    %th Address
    %th= @address 
  %tr
    %th Current Balance
    %td= format_amount(STORE.get_balance(@address))
  %tr
    %th Total Volume
    %td= format_amount(@txouts.map(&:value).sum)

%h3 Transactions

%table.list
  %tr
    %th Tx
    %th Kind
    %th Address
    %th Value
    %th Total

  - total = 0
  - @txouts.each do |txout|
    - total += txout.value
    %tr{:class => cycle('odd', 'even')}
      %td= transaction_link(txout.get_tx)
      %td= "<-"
      %td
        - txout.get_tx.in.map(&:get_prev_out).each do |prev_out|
          = address_link(prev_out.get_address)
          (#{format_amount(txout.value)})
          %br/
      %td= format_amount(txout.value)
      %td= format_amount(total)
    - if txin = txout.get_next_in
      - total -= txout.value
      %tr
        %td= transaction_link(txin.get_tx)
        %td= "->"
        %td
          - txin.get_tx.out.each do |out|
            = address_link(out.get_address)
            (#{format_amount(out.value)})
            %br/

        %td= format_amount(txout.value)
        %td= format_amount(total)

