%table.list
  %tr
    %th Depth
    %th Hash
    %th Time
    %th Tx
    %th Size
    %th Total

  - @blocks.each do |block|
    %tr{:class => cycle('odd', 'even')}
      %td= block_link block, block.depth
      %td= block_link block
      %td= format_time block.time
      %td= block.tx.size
      %td= block.to_payload.bytesize
      %td= format_amount(block.tx.map(&:out).flatten.map(&:value).sum)

- if @blocks.first.depth < STORE.get_depth
  = link_to "<<", "?depth=#{@blocks.first.depth + @per_page}", :style => "float: left"

- if @blocks.last.depth > 0
  = link_to ">>", "?depth=#{@blocks.last.depth - 1}", :style => "float: right"