%table
  %tr
    %th ID
    %th Depth
    %th Hash
    %th Time
    %th Tx
    - if Block.attribute_names.include?("block_size")
      %th Size
    %th Total

  - @blocks.each do |block|
    %tr
      %td= block.id
      %td= block_link block, block.depth
      %td= block_link block
      %td= format_time block.when_created
      %td= block.transactions.count
      - if Block.attribute_names.include?("block_size")
        %td= block.block_size 
      %td= block.total_value

= will_paginate @blocks