%table#blocks.list
  %tr
    %th Depth
    %th Hash
    %th Time
    %th Tx
    %th Size
    %th Total
  %tbody.blocks
    - @blocks.each do |block|
      %tr{:class => cycle('odd','even')}
        - cache("block/#{block[:hash].hth}/list_item") do
          = render :partial => "blk", :object => block

- if STORE.db.class.name =~ /Sequel/
  - if @blocks.first[:depth] < STORE.get_depth
    = link_to "<<", "?depth=#{@blocks.first[:depth] + @per_page}", :style => "float: left"
  - if @blocks.all.last[:depth] > 0
    = link_to ">>", "?depth=#{@blocks.all.last[:depth] - 1}", :style => "float: right"
- else
  - if @blocks.first.depth < STORE.get_depth
    = link_to "<<", "?depth=#{@blocks.first.depth + @per_page}", :style => "float: left"
  - if @blocks.last.depth > 0
    = link_to ">>", "?depth=#{@blocks.last.depth - 1}", :style => "float: right"
