%table#blocks.list
  %tr
    %th Height
    %th Hash
    %th Time
    %th Tx
    %th Size
    %th Total
  %tbody.blocks
    - @blocks.each do |block|
      %tr{:class => cycle('odd','even')}
        - cache("block/#{block[:hash].hth}/list_item") do
          = render :partial => "blk", :object => block

- if STORE.db.class.name =~ /Sequel/
  - if @blocks.first[:height] < STORE.height
    = link_to "<<", "?height=#{@blocks.first[:height] + @per_page}", :style => "float: left"
  - if @blocks.all.last[:height] > 0
    = link_to ">>", "?height=#{@blocks.all.last[:height] - 1}", :style => "float: right"
- else
  - if @blocks.first.height < STORE.height
    = link_to "<<", "?height=#{@blocks.first.height + @per_page}", :style => "float: left"
  - if @blocks.last.height > 0
    = link_to ">>", "?height=#{@blocks.last.height - 1}", :style => "float: right"
