- @page_title = "#{params[:type]} Scripts"

%p Showing <b>#{params[:type]}</b> scripts #{@offset}-#{@offset + @limit} of #{@count}.

%table.details
  %tr
    %th Block
    %th Transaction
    %th Value
    %th Script
    %th Address(es) / Data
  - @txouts.each do |txout|
    - tx = STORE.db[:tx][id: txout[:tx_id]]
    - blk_tx = STORE.db[:blk_tx][tx_id: txout[:tx_id]]
    - blk = STORE.db[:blk][id: blk_tx[:blk_id]]
    - script = Bitcoin::Script.new(txout[:pk_script])
    %tr
      %td= link_to "#{blk[:height]}", block_path(blk[:hash].hth)
      %td
        = link_to truncate(tx[:hash].hth, :length => 16), tx_path(tx[:hash].hth)
        = "/ #{txout[:tx_idx]}"
      %td= format_amount txout[:value]
      %td
        %pre= script.to_string.gsub("\s", "\n")
      %td
        - if script.is_op_return?
          %pre= script.get_op_return_data
        - else
          - script.get_addresses.each do |addr|
            = address_link(addr)
            %br/
      - if next_in = STORE.db[:txin][prev_out: tx[:hash].reverse.blob, prev_out_index: txout[:tx_idx]]
        - next_tx = STORE.db[:tx][id: next_in[:tx_id]]
        %td= link_to "Run Script", "/script/#{next_tx[:hash].hth}:#{next_in[:tx_idx]}"

- if @offset >= @limit
  = link_to "<<", "?offset=#{@offset - @limit}"

- if @count > @offset + @limit
  = link_to ">>", "?offset=#{@offset + @limit}", style: "float: right"


- stats = JSON.load(File.read(File.join(Rails.root, "public/stats.json")))

%p
  Script Types:
  - STORE.class::SCRIPT_TYPES.each do |type|
    = link_to "#{type} (#{stats['script_types'][type.to_s]})", "/scripts/#{type}"