- @page_title = "Stats"

%h3 Statistics

- stats = JSON.load(File.read(File.join(Rails.root, "public/stats.json")))

%table.details
  %tr
    %th Blocks
    - b = stats['blocks']
    %td
      #{number_with_delimiter b['main']}
      (#{number_with_delimiter b['side']} side,
      #{number_with_delimiter b['orphan']} orphan,
      #{number_with_delimiter b['total']} total)

  %tr
    %th Transactions
    %td
      #{number_with_delimiter stats['txs']}
      (#{number_with_delimiter stats['txins']} inputs,
      #{number_with_delimiter stats['txouts']} outputs)

  %tr
    %th Addresses
    %td
      #{number_with_delimiter stats['addrs']}
      - if Bitcoin.namecoin?
        (#{number_with_delimiter stats['names']} Names)

  %tr
    %th Blockchain Size
    %td= number_to_human_size b['size']

  %tr
    %th Total Coins
    %td= format_amount stats['coins']

  %tr
    %th Hashes Computed
    %td= number_with_delimiter(stats['work'])

  %tr
    %th Script Types
    %td
      = STORE.class::SCRIPT_TYPES.map {|type| link_to("#{number_with_delimiter stats['script_types'][type.to_s]} #{type}", "/scripts/#{type}") }.join(", ").html_safe

  - if BB_CONFIG["index_p2sh_types"]
    %tr
      %th P2SH Types
      %td
        = (STORE.class::SCRIPT_TYPES - [:op_return]).map {|type| link_to("#{number_with_delimiter stats['p2sh_types'][type.to_s]} #{type}", "/p2sh_scripts/#{type}") }.join(", ").html_safe

  %tr
    %th Last Update
    %td= format_time stats['time']

%br/

%h3 Block Reward

%table.details

  %tr
    %th Current Reward
    %td= format_amount calculate_reward(STORE.height)

  %tr
    %th Next Halving
    %td
      - drop = Bitcoin::REWARD_DROP
      in #{number_with_delimiter blocks = drop - (STORE.height % drop)} blocks -
      - seconds = blocks * 10 * 60
      = (Time.now + seconds).strftime("%Y-%m-%d %H:%M")
      - if seconds < 2592000
        %br/
        (#{(Time.at(seconds) - 1.day).utc.strftime("%d days, %H hours, %M minutes")})

%br/

- [:block_size, :tx_per_block, :total_size, :total_coins, :block_work, :total_work].each do |name|
  = link_to image_tag("/graphs/#{name}_small.png"), "/graphs/#{name}.png"


%h3 Time Since Last Block

= image_tag "/node_tslb_#{Bitcoin.network_name}-day.png"
= image_tag "/node_tslb_#{Bitcoin.network_name}-week.png"

%h3 Connections To Bitcoin Network

= image_tag "/node_connections_#{Bitcoin.network_name}-day.png"
= image_tag "/node_connections_#{Bitcoin.network_name}-week.png"
