!!!

%html
  %head
    %title #{BB_CONFIG['network'].capitalize} BlockBrowser - #{@page_title}
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    :javascript
      window.ws = new WebSocketHandler("ws://#{BB_CONFIG['websocket']}/");
      window.ws.add_handler(new BlockCount())
      window.ws.add_handler(new ClientCount())
      $(document).ready(function () { window.ws.connect() });

  %body
    #header
      %h1= link_to BB_CONFIG['network'].capitalize, root_path
      %h2= "- #{@page_title}"
      #search
        = form_tag(search_path) do
          = text_field_tag :search
          = submit_tag "Search"

    = yield

    #footer
      Networks:
      - BB_CONFIG['networks'].each do |name, url|
        - if Bitcoin.network_name == name.to_sym
          %b= name
        - else
          = link_to name, url
      |
      Blocks:
      %span#head_block= link_to STORE.height, block_path(STORE.head_hash)
      |
      Clients:
      %span#client_count ?
      |
      - if Bitcoin.namecoin?
        = link_to "Recent Names", names_path
        |
      = link_to "Mempool", mempool_path
      |
      = link_to "API", api_path
      |
      = link_to "Relay", relay_tx_path
      |
      = link_to "About", about_path
      |
      = link_to "Stats", stats_path
      |
      = link_to "Dumps", "//dumps.webbtc.com/#{BB_CONFIG['network']}"
      |
      = link_to BB_CONFIG['donate'], address_path(BB_CONFIG['donate'])
