!!!

%html
  %head
    %title BlockBrowser
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    #header
      %h1= link_to "BlockBrowser", root_path
      %h2= "- #{@page_title}"
      #search
        = form_tag(search_path) do
          = text_field_tag :search
          = submit_tag "Search"

    = yield

    #footer
      Network:
      - net = Bitcoin.instance_eval { @network }
      %b= net
      - if net == :bitcoin
        = link_to "(testnet)", "http://test.#{BB_CONFIG['domain']}"
      - else
        = link_to "(bitcoin)", "http://#{BB_CONFIG['domain']}"
      |
      Blocks:
      - head = STORE.get_head
      = link_to head.depth, block_path(head.hash)
      |
      Code:
      = link_to "bitcoin-ruby", "http://github.com/lian/bitcoin-ruby"
      = "+"
      = link_to "block_browser", "http://github.com/mhanne/block_browser"
      |
      Donate:
      = link_to BB_CONFIG['donate'], address_path(BB_CONFIG['donate'])