!!!

%html
  %head
    %title #{BB_CONFIG['network'].capitalize} BlockBrowser
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    :javascript
      $(document).ready(function() {
        connect_websocket("ws://#{BB_CONFIG['websocket']}/");
      })

  %body
    #header
      %h1= link_to BB_CONFIG['network'].capitalize, root_path
      %h2= "- #{@page_title}"
      #search
        = form_tag(search_path) do
          = text_field_tag :search
          = submit_tag "Search"

    = yield

    #footer
      Networks:
      - BB_CONFIG['networks'].each do |name, url|
        - if Bitcoin.network_name == name.to_sym
          %b= name
        - else
          = link_to name, url
      |
      Blocks:
      - head = STORE.get_head
      = link_to head.depth, block_path(head.hash)
      |
      - if Bitcoin.namecoin?
        = link_to "Recent Names", names_path
        |
      = link_to "About", about_url
