!!!

%html
  %head
    %title BlockBrowser
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    :javascript
      $(document).ready(function() {
        connect_websocket("ws://#{BB_CONFIG['websocket']}/");
      })

  %body
    #header
      %h1= link_to "BlockBrowser", root_path
      %h2= "- #{@page_title}"
      #search
        = form_tag(search_path) do
          = text_field_tag :search
          = submit_tag "Search"

    = yield

    #footer
      Network:
      - net = Bitcoin.instance_eval { @network }
      %b= net
      |
      - if net == :bitcoin
        = link_to "view testnet", "http://test.#{BB_CONFIG['domain']}"
      - else
        = link_to "view bitcoin", "http://#{BB_CONFIG['domain']}"
      |
      Blocks:
      - head = STORE.get_head
      = link_to head.depth, block_path(head.hash)
      |
      = link_to "About", about_url
